@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-17 14:59:50
 * @version $Id$
 */
/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: #666; }

html {
  font-size: 20px; }

body {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  display: block; }

.lbg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center top; }

/*reset end*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*媒体查询*/
@media screen and (min-width: 10px) and (max-width: 319px) {
  html {
    font-size: 7.8888px; } }
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 8.85px; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 375px) and (max-width: 385px) {
  html {
    font-size: 10.41666px; } }
@media screen and (min-width: 386px) and (max-width: 392px) {
  html {
    font-size: 10.72222px; } }
@media screen and (min-width: 393px) and (max-width: 400px) {
  html {
    font-size: 10.91666px; } }
@media screen and (min-width: 401px) and (max-width: 414px) {
  html {
    font-size: 11.13888px; } }
@media screen and (min-width: 720px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 760px) {
  html {
    font-size: 21.11111px; } }
@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 20.83333px; } }
#top-container {
  max-width: 800px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 6rem; }

.oh {
  overflow: hidden; }

.float-window {
  max-width: 800px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 10000; }
  .float-window .ask-window {
    width: 4.5rem;
    height: 10.5rem;
    position: absolute;
    top: 16rem;
    right: -0.4rem;
    background: url("../imgs/icon.png") no-repeat 101.4285714286% 40%;
    background-size: 29rem 23rem; }
  .float-window .dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 20rem;
    width: 34.3rem;
    height: 17.7rem;
    margin: 0 auto;
    background: url("../imgs/dialog.png") no-repeat;
    background-size: 100%;
    display: none; }
    .float-window .dialog .close {
      position: absolute;
      top: 2.6rem;
      right: 1rem;
      width: 2.1rem;
      height: 2.1rem; }
    .float-window .dialog a {
      display: inline-block;
      position: absolute;
      width: 7.3rem;
      height: 2.35rem;
      top: 13.5rem;
      left: 14rem; }
    .float-window .dialog a:last-child {
      left: 23rem; }

.pink-btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  background: #da0a98;
  background: -moz-linear-gradient(left, #da0a98 0%, #9b2684 100%);
  background: -webkit-linear-gradient(left, #da0a98 0%, #9b2684 100%);
  background: linear-gradient(to right, #da0a98 0%, #9b2684 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da0a98', endColorstr='#9b2684',GradientType=1 );
  box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.4);
  border-radius: 8px; }

header .ico {
  margin-top: 0.85rem;
  padding: 0 1.8rem; }
  header .ico .logo {
    width: 15rem;
    height: 5rem;
    background: url("../imgs/icon.png") no-repeat 0 0;
    float: left;
    background-size: 29rem 23rem; }
  header .ico .symbol {
    width: 8rem;
    height: 5rem;
    float: right;
    background: url("../imgs/icon.png") no-repeat 71.4285714286% 0%;
    background-size: 29rem 23rem; }
header nav {
  padding: 0 1.8rem;
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: space-between; }
  header nav a {
    display: inline-block;
    padding: 0 1.2rem; }
header .sidai {
  height: 4.7rem;
  background: url("../imgs/sidai.png") no-repeat;
  background-size: 100%;
  margin: -0.5rem 0 -3.75rem;
  position: relative; }
header .banner img {
  width: 100%; }

.dhv-cctv .title {
  width: 33rem;
  margin: 2.3rem auto -1rem;
  position: relative;
  z-index: 10; }
.dhv-cctv .box {
  height: 16.9rem;
  background: url("../imgs/dhv-cctvbg.jpg") no-repeat center top;
  background-size: 100% 100%;
  position: relative;
  padding-top: 2.25rem; }
  .dhv-cctv .box .list {
    width: 30rem;
    margin: 0 auto; }
    .dhv-cctv .box .list .item {
      width: 100%; }
    .dhv-cctv .box .list .header-pic {
      position: relative;
      width: 12.25rem;
      float: left; }
      .dhv-cctv .box .list .header-pic img {
        width: 8rem;
        margin: 0 auto -1.05rem; }
      .dhv-cctv .box .list .header-pic .symbol {
        width: 12.25rem;
        height: 2.5rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: white;
        float: left;
        position: relative;
        padding-top: 0.5rem;
        box-shadow: 1px 1px 8px rgba(150, 150, 150, 0.4); }
        .dhv-cctv .box .list .header-pic .symbol span {
          display: block;
          width: 6rem;
          height: 1.5rem;
          float: right; }
        .dhv-cctv .box .list .header-pic .symbol .expert {
          background: url("../imgs/icon.png") no-repeat 0% 23.2558139535%;
          background-size: 29rem 23rem; }
        .dhv-cctv .box .list .header-pic .symbol .name {
          background: url("../imgs/icon.png") no-repeat 0% 30.2325581395%;
          background-size: 29rem 23rem; }
        .dhv-cctv .box .list .header-pic .symbol .name.luojingjing {
          background-position: 0% 37.2093023256%; }
        .dhv-cctv .box .list .header-pic .symbol .name.ailisi {
          background-position: 0% 44.1860465116%; }
        .dhv-cctv .box .list .header-pic .symbol .name.hedun {
          background-position: 0% 51.1627906977%; }
        .dhv-cctv .box .list .header-pic .symbol .name.huangyue {
          background-position: 0% 58.1395348837%; }
        .dhv-cctv .box .list .header-pic .symbol .name.ouyangzizi {
          background-position: 0% 65.1162790698%; }
        .dhv-cctv .box .list .header-pic .symbol .name.xvyuejiao {
          background-position: 0% 72.0930232558%; }
        .dhv-cctv .box .list .header-pic .symbol .name.zouyingying {
          background-position: 0% 79.0697674419%; }
    .dhv-cctv .box .list .dhv-pic {
      width: 17rem;
      height: 10.2rem;
      position: relative;
      float: left;
      margin-top: 0.85rem;
      box-shadow: 2px 3px 20px rgba(100, 100, 100, 0.3); }
  .dhv-cctv .box .btn {
    width: 3rem;
    height: 5rem;
    background: url("../imgs/icon.png") no-repeat 88.4615384615% 0%;
    background-size: 29rem 23rem;
    position: absolute;
    top: 5rem;
    left: 1rem;
    z-index: 200; }
  .dhv-cctv .box .btn.next {
    background-position: 100% 0%;
    left: auto;
    right: 1rem; }

.askexpert, .youshi {
  position: relative; }
  .askexpert img, .youshi img {
    width: 100%; }
  .askexpert a, .youshi a {
    position: absolute;
    top: 11rem;
    left: 14rem; }

.youshi a {
  top: 92%;
  left: 44.4%; }

.youshi p {
  font-size: 1.1rem;
  columns: #777;
  position: absolute;
  top: 21.5%;
  left: 33.5%; }

.youshi p:nth-of-type(2) {
  top: 41.6%; }

.youshi p:nth-of-type(3) {
  top: 62%; }

.vs {
  margin-top: 3rem;
  position: relative; }
  .vs img {
    width: 100%; }
  .vs div.description {
    position: absolute;
    top: 52.25%; }
    .vs div.description span {
      color: #fff;
      padding-left: 3.5rem;
      font-size: 1.2rem;
      font-weight: 700; }
    .vs div.description span:last-child {
      padding-left: 11rem; }
  .vs ul {
    position: absolute;
    bottom: 7rem;
    left: 3rem; }
    .vs ul li {
      font-size: 1.2rem;
      color: #555;
      line-height: 1.75rem; }

.yindao .title {
  width: 23.7rem;
  margin: 1.2rem auto 0; }
.yindao .dialog {
  width: 20.25rem;
  height: 10.75rem;
  margin: 1rem auto 2rem;
  box-shadow: 1px 1px 13px rgba(100, 100, 100, 0.35);
  background: url("../imgs/yindao-dialogbg.png") no-repeat center;
  background-size: 17.9rem 8.3rem;
  text-align: center; }
  .yindao .dialog h6 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.2rem;
    font-weight: 700; }
  .yindao .dialog ul {
    text-align: left;
    padding: 0 0 0.25rem 3.3rem; }
    .yindao .dialog ul li {
      font-size: 1.2rem; }
  .yindao .dialog .btn {
    background: #aa7e1f;
    background: -moz-linear-gradient(left, #aa7e1f 0%, #eaac31 72%, #aa7e1f 100%);
    background: -webkit-linear-gradient(left, #aa7e1f 0%, #eaac31 72%, #aa7e1f 100%);
    background: linear-gradient(to right, #aa7e1f 0%, #eaac31 72%, #aa7e1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa7e1f', endColorstr='#aa7e1f',GradientType=1 ); }

.evaluation .title {
  margin: 0 auto;
  width: 33rem; }
.evaluation ul {
  width: 29.75rem;
  margin: 0 auto; }
  .evaluation ul li {
    overflow: hidden;
    border-bottom: 1px dashed #999;
    padding: 0.9rem 1.4rem 0.6rem 0.45rem; }
    .evaluation ul li .userheader {
      width: 5rem;
      height: 5rem;
      float: left;
      margin-right: 1rem; }
    .evaluation ul li .username {
      width: 20rem;
      float: left;
      font-size: #888;
      margin-top: 0.8rem; }
    .evaluation ul li .client-evaluation {
      margin-top: 0.8rem;
      float: left; }
      .evaluation ul li .client-evaluation span {
        display: block;
        float: left; }
      .evaluation ul li .client-evaluation b {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-top: 0.15rem;
        background: url("../imgs/star.png") no-repeat;
        background-size: 100%;
        font-size: #888; }
    .evaluation ul li .content {
      margin-top: 0.5rem;
      line-height: 1.6rem; }
      .evaluation ul li .content span:last-child {
        display: none; }

.tutor {
  padding-bottom: 2.75rem; }
  .tutor > img {
    width: 33rem;
    margin: 2.75rem auto 0.75rem; }
  .tutor .getdata {
    text-align: center; }
  .tutor .t {
    background-size: cover;
    padding: 1.5rem 0 1.8rem;
    position: relative; }
    .tutor .t .detail {
      width: 34.75rem;
      height: 16.5rem;
      margin: .7rem auto 0; }
      .tutor .t .detail > li {
        overflow: hidden; }
      .tutor .t .detail .tutor-pic {
        width: 13.7rem;
        float: left;
        position: relative; }
        .tutor .t .detail .tutor-pic > img {
          width: 13.8rem;
          height: 16.5rem; }
        .tutor .t .detail .tutor-pic .symbol {
          position: absolute;
          border-radius: 100%;
          top: 7.6rem;
          left: 0;
          padding: 0.4rem;
          width: 8.25rem;
          height: 8.25rem;
          background: #cd7e2a;
          background: -moz-linear-gradient(-45deg, #cd7e2a 0%, #f7b532 50%, #cd7e2a 100%);
          background: -webkit-linear-gradient(-45deg, #cd7e2a 0%, #f7b532 50%, #cd7e2a 100%);
          background: linear-gradient(135deg, #cd7e2a 0%, #f7b532 50%, #cd7e2a 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd7e2a', endColorstr='#cd7e2a',GradientType=1 ); }
          .tutor .t .detail .tutor-pic .symbol img {
            width: 100%;
            height: 100%;
            border-radius: 100%; }
      .tutor .t .detail .moreinfo {
        width: 21.05rem;
        float: left; }
        .tutor .t .detail .moreinfo h6 {
          font-size: 1.5rem;
          color: #000;
          margin: 0 0 1rem; }
          .tutor .t .detail .moreinfo h6 span {
            font-size: 1.2rem;
            color: #ee596e;
            margin-left: 1.5rem; }
        .tutor .t .detail .moreinfo ul {
          padding-left: 1.1rem; }
        .tutor .t .detail .moreinfo li {
          list-style-type: disc;
          line-height: 1.5rem;
          color: #333; }
    .tutor .t .btn {
      width: 3rem;
      height: 5rem;
      background: url("../imgs/icon.png") no-repeat 88.4615384615% 0%;
      background-size: 29rem 23rem;
      position: absolute;
      top: 20rem;
      left: 0.75rem; }
    .tutor .t .btn.next {
      right: 0.75rem;
      left: auto;
      background-position: 100% 0%; }
  .tutor .list-box {
    width: 30.1rem;
    height: 8rem;
    margin: 0 auto 0;
    padding: 0.75rem 0.853rem 0;
    position: relative; }
    .tutor .list-box .list {
      float: left;
      font-size: 0;
      white-space: nowrap; }
      .tutor .list-box .list li {
        width: 6.35rem;
        height: 6.55rem;
        background: #fff;
        margin-right: 1rem;
        overflow: hidden;
        position: relative; }
        .tutor .list-box .list li > img {
          height: 100%;
          margin: 0 auto; }
        .tutor .list-box .list li .symbol {
          position: absolute;
          width: 2rem;
          height: 1.5rem;
          top: 0.15rem;
          right: 0.25rem;
          background: url("../imgs/icon.png") no-repeat 37.037037037% 23.2558139535%;
          background-size: 29rem 23rem; }

.zixun .title {
  width: 33rem;
  margin: 0 auto; }
.zixun .zixun-info {
  width: 34.35rem;
  padding: 1rem;
  margin: 0 auto; }
  .zixun .zixun-info img {
    width: 48.5%;
    box-shadow: 2px 2px 0.9rem rgba(10, 10, 10, 0.3); }
  .zixun .zixun-info > img:first-child {
    float: left; }
  .zixun .zixun-info img:last-child {
    float: right; }
.zixun .newspaper-logo {
  width: 33.25rem;
  padding: 0 0.25rem;
  margin: 0 auto 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .zixun .newspaper-logo div {
    width: 7.8rem;
    height: 4.5rem;
    border: 0.1rem solid #eee;
    border-radius: 3px;
    box-shadow: 0 0 0.2rem rgba(200, 200, 200, 0.5);
    padding: 0.15rem 0.15rem;
    background: #fff;
    margin: 0.2rem 0; }
    .zixun .newspaper-logo div img {
      width: 7.3rem;
      height: 3.9rem; }
.zixun .newspaper-detail {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 4000;
  max-width: 800px;
  margin: 0 auto;
  top: 0;
  display: none; }
  .zixun .newspaper-detail .wrapper {
    width: 70%;
    height: 80%;
    margin: 10% auto;
    overflow-y: auto;
    position: relative; }
    .zixun .newspaper-detail .wrapper img {
      width: 100%; }
  .zixun .newspaper-detail .close {
    transform: rotate(45deg);
    border-radius: 100%;
    color: #fff;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    background: rgba(249, 68, 111, 0.8);
    position: absolute;
    line-height: 2.15rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    top: 0;
    right: 0; }
.zixun .media {
  display: flex;
  justify-content: space-between; }
.zixun .btn {
  width: 2rem;
  height: 6rem;
  background: url("../imgs/icon.png") no-repeat 22.2222222222% 29.4117647059%;
  background-size: 29rem 23rem;
  margin-top: 9.25rem; }
.zixun .btn.next {
  background-position: 29.6296296296% 29.4117647059%; }
.zixun .slide-box {
  width: 33.1rem;
  height: 24.1rem;
  padding: 0.25rem;
  margin: 0 auto; }
  .zixun .slide-box li {
    height: 7.55rem;
    border: 0.1rem solid;
    border-image: linear-gradient(135deg, #aa7e1f 0%, #ecb445 28%, #aa7e1f 100%) 10;
    border-image: -webkit-linear-gradient(135deg, #aa7e1f 0%, #ecb445 28%, #aa7e1f 100%) 10;
    border-image: -moz-linear-gradient(135deg, #aa7e1f 0%, #ecb445 28%, #aa7e1f 100%) 10;
    padding: 0.5rem;
    margin: 0.25rem 0;
    box-shadow: 0.1rem 0.1rem 0.25rem rgba(100, 100, 100, 0.2); }
    .zixun .slide-box li img {
      width: 10.2rem;
      height: 100%;
      float: left; }
    .zixun .slide-box li .resume {
      width: 20.25rem;
      float: right;
      margin-top: 0.25rem; }
      .zixun .slide-box li .resume h5 {
        font-size: 1.1rem;
        color: #333;
        line-height: 1.8rem; }
      .zixun .slide-box li .resume p {
        font-size: 0.9rem;
        color: #999;
        margin-top: 0.35rem; }
.zixun .page {
  display: flex;
  justify-content: center;
  align-items: center; }
  .zixun .page li {
    margin: 0 0.15rem;
    width: 0.6rem;
    height: 0.6rem;
    background: #aa7e1f;
    background: -moz-linear-gradient(-45deg, #aa7e1f 0%, #ecb445 72%, #aa7e1f 100%);
    background: -webkit-linear-gradient(-45deg, #aa7e1f 0%, #ecb445 72%, #aa7e1f 100%);
    background: linear-gradient(135deg, #aa7e1f 0%, #ecb445 72%, #aa7e1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa7e1f', endColorstr='#aa7e1f',GradientType=1 );
    padding: 0.1rem;
    border-radius: 100%; }
    .zixun .page li div {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 100%; }
    .zixun .page li.active div {
      background: transparent; }

.coenv img.title {
  width: 33rem;
  margin: 2.5rem auto 0; }
.coenv .page {
  width: 33.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; }
  .coenv .page li {
    width: 9.85rem;
    height: 3rem;
    float: left; }
  .coenv .page li:first-child {
    background: url("../imgs/icon.png") no-repeat 68.6684073107% 55%;
    background-size: 29rem 23rem; }
  .coenv .page li.active:first-child {
    background: url("../imgs/icon.png") no-repeat 68.6684073107% 70%;
    background-size: 29rem 23rem; }
  .coenv .page li:nth-child(2) {
    background: url("../imgs/icon.png") no-repeat 68.6684073107% 85%;
    background-size: 29rem 23rem; }
  .coenv .page li.active:nth-child(2) {
    background: url("../imgs/icon.png") no-repeat 68.6684073107% 100%;
    background-size: 29rem 23rem; }
  .coenv .page li:last-child {
    background: url("../imgs/icon.png") no-repeat 68.6684073107% 40%;
    background-size: 29rem 23rem; }
  .coenv .page li.active:last-child {
    background: url("../imgs/icon.png") no-repeat 68.6684073107% 25%;
    background-size: 29rem 23rem; }
.coenv .slide-container {
  width: 33.25rem;
  margin: 0 auto;
  height: 27.25rem;
  padding: 0.75rem 0; }
  .coenv .slide-container .item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .coenv .slide-container .item > div {
      width: 15.1rem; }
      .coenv .slide-container .item > div div {
        height: 10.65rem;
        padding: 0.2rem;
        background: #e5e5e5;
        box-shadow: 2px 2px 0.75rem rgba(100, 100, 100, 0.3); }
      .coenv .slide-container .item > div img {
        width: 100%;
        height: 100%; }
      .coenv .slide-container .item > div p {
        text-align: center;
        line-height: 2.75rem; }

footer {
  height: 8.85rem;
  padding: 1.6rem 0;
  background: #f6f6f6; }
  footer p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center; }

.fixed-window {
  position: fixed;
  max-width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6rem;
  background: #cc0a85;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.5rem rgba(10, 10, 10, 0.6); }
  .fixed-window p {
    font-size: 1.6rem;
    color: #fff; }
  .fixed-window > div, .fixed-window div a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .fixed-window .gotop {
    width: 6.65rem;
    height: 100%;
    border-right: 0.5rem solid #9e0655;
    background: #d77908;
    background: -moz-linear-gradient(-45deg, #d77908 0%, #fcba07 64%, #d77908 100%);
    background: -webkit-linear-gradient(-45deg, #d77908 0%, #fcba07 64%, #d77908 100%);
    background: linear-gradient(135deg, #d77908 0%, #fcba07 64%, #d77908 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d77908', endColorstr='#d77908',GradientType=1 ); }
    .fixed-window .gotop .houseicon {
      width: 4rem;
      height: 3rem;
      background: url("../imgs/icon.png") no-repeat 24% 55%;
      background-size: 29rem 23rem; }
    .fixed-window .gotop p {
      font-size: 1.1rem; }
  .fixed-window .telephone-zixun {
    height: 100%; }
    .fixed-window .telephone-zixun .phoneicon {
      width: 3.15rem;
      height: 3rem;
      background: url("../imgs/icon.png") no-repeat 38.6847195358% 55%;
      background-size: 29rem 23rem; }
  .fixed-window .split {
    width: 0.9rem;
    height: 3rem;
    background: url("../imgs/icon.png") no-repeat 35.5871886121% 32.5%;
    background-size: 29rem 23rem; }
  .fixed-window .online-zixun {
    height: 100%;
    padding-right: 3rem; }
    .fixed-window .online-zixun .chaticon {
      width: 4rem;
      height: 3rem;
      background: url("../imgs/icon.png") no-repeat 24% 70%;
      background-size: 29rem 23rem; }

/*# sourceMappingURL=index.css.map */
